# Django settings
DJANGO_SECRET_KEY=your-generated-django-secret-key
DJANGO_DEBUG=False

DJANGO_SETTINGS_MODULE = 'core.settings.prod'
ALLOWED_HOSTS = ['*'] # Укажите ваш домен

# Database settings
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=db
DB_PORT=5432